<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>HRMS-WebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordHashServlet</display-name>
    <servlet-name>PasswordHashServlet</servlet-name>
    <servlet-class>PasswordHashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordHashServlet</servlet-name>
    <url-pattern>/PasswordHashServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserSession</display-name>
    <servlet-name>GetUserSession</servlet-name>
    <servlet-class>GetUserSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserSession</servlet-name>
    <url-pattern>/GetUserSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRAttendanceServlet</display-name>
    <servlet-name>HRAttendanceServlet</servlet-name>
    <servlet-class>HRAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRAttendanceServlet</servlet-name>
    <url-pattern>/HRAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePayrollServlet</display-name>
    <servlet-name>EmployeePayrollServlet</servlet-name>
    <servlet-class>EmployeePayrollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePayrollServlet</servlet-name>
    <url-pattern>/EmployeePayrollServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRPayrollServlet</display-name>
    <servlet-name>HRPayrollServlet</servlet-name>
    <servlet-class>HRPayrollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRPayrollServlet</servlet-name>
    <url-pattern>/HRPayrollServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLeaveServlet</display-name>
    <servlet-name>EmployeeLeaveServlet</servlet-name>
    <servlet-class>EmployeeLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLeaveServlet</servlet-name>
    <url-pattern>/EmployeeLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRLeaveServlet</display-name>
    <servlet-name>HRLeaveServlet</servlet-name>
    <servlet-class>HRLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRLeaveServlet</servlet-name>
    <url-pattern>/HRLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRDashboardServlet</display-name>
    <servlet-name>HRDashboardServlet</servlet-name>
    <servlet-class>HRDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRDashboardServlet</servlet-name>
    <url-pattern>/HRDashboardServlet</url-pattern>
  </servlet-mapping>
</web-app>